<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>

<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Novo Pedido')}"></div>
    <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="post">
        <div class="form-group">
            <label for="nomeProduto">Produto</label>
            <input field="*{nomeProduto}" type="text" th:errorclass="is-invalid" class="form-control" id="nomeProduto"
                   name="nomeProduto"
                   placeholder="Nome do produto">
            <small class="text-muted">Informe o nome do produto</small>
            <div th:errors="*{nomeProduto}" class="invalid-feedback"> Error</div>
        </div>
        <div class="form-group">
            <label for="urlProduto">Url</label>
            <input field="*{urlProduto}" type="text" th:errorclass="is-invalid" class="form-control" id="urlProduto"
                   name="urlProduto"
                   placeholder="Url do produto">
            <small class="text-muted">Procure o produto que você deseja e informe a url</small>
            <div th:errors="*{urlProduto}" class="invalid-feedback"> Error</div>
        </div>
        <div class="form-group">
            <label for="urlImagem">Imagem</label>
            <input field="*{urlImagem}" type="text" th:errorclass="is-invalid" class="form-control" id="urlImagem"
                   name="urlImagem"
                   placeholder="Url da imagem">
            <small class="text-muted">Procure uma foto do produto e informe a url</small>
            <div th:errors="*{urlImagem}" class="invalid-feedback"> Error</div>
        </div>
        <div class="form-group mb-3">
            <label for="descricao">Descrição</label>
            <textarea field="*{descricao}" class="form-control" id="descricao" name="descricao" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
</body>
</html>